pandas
requests
beautifulsoup4
python-whois
streamlit
numpy
matplotlib
seaborn
xgboost
scikit-learn
tensorflow  # without the ==2.11.0 to allow pip flexibility
keras        # keras is included in tensorflow >= 2.0, you might not need to install it separately
