streamlit>=1.18
pandas>=1.5
requests
beautifulsoup4
numpy>=1.23
matplotlib
seaborn
xgboost
scikit-learn
tensorflow==2.11.0
# keras==2.11.0  # Optional
# python-whois   # Optional if causing errors
